$black: #16121b;
$blackLighter: #221f20;
$white: #ffffff;
$bluyewhite: #f0f2f8;
$yellow: #f7cb46;
$yellowLight: #ffe792;

$grey: #c4c4c4;

$red: #ef4358;
$ketchup: #e03333;
$tomato: #ff543d;

$green: #70c217;
$green2: #689c2f;
$green3: #2da045;
$forest: #009b6d;
$sky-blue: #299ef3;
$water: #29aaf3;
$ice: #1b82e1;
$blue: #5f37ef;
$lilac: #9a7dff;
$violet: #7854f7;
$dark: #0a142f;
$checkbox: #303030;
$slider-shade: rgba(88, 77, 77, 0.7);
$logo: #636364;
